flows_SmartSphere.json
[
    {
        "id": "e8ecf3e0486b455b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5a53f2a695d7e1b7",
        "type": "function",
        "z": "e8ecf3e0486b455b",
        "name": "function 1",
        "func": "msg.payload = { status: \"OK\", info: \"Garage button pressed\" };\nreturn msg;",
        "outputs": 9,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 420,
        "wires": [
            [
                "e802bd243d63a3b0"
            ],
            [
                "f8e98ca52048a391"
            ],
            [
                "067e6b2cb209ccfe"
            ],
            [],
            [
                "6354aeb9e5fc09ff"
            ],
            [
                "a681d95bc9acfca6"
            ],
            [
                "de108582d0ec00bd"
            ],
            [
                "460e7d60fc7619b1"
            ],
            [
                "c58e259ff2a76909"
            ]
        ],
        "outputLabels": [
            "9",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
        ]
    },
    {
        "id": "e802bd243d63a3b0",
        "type": "ui_switch",
        "z": "e8ecf3e0486b455b",
        "name": "",
        "label": "lamp",
        "tooltip": "",
        "group": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 590,
        "y": 260,
        "wires": [
            [
                "cc2dd230ec8ef5e0"
            ]
        ],
        "inputLabels": [
            "2"
        ]
    },
    {
        "id": "f8e98ca52048a391",
        "type": "ui_switch",
        "z": "e8ecf3e0486b455b",
        "name": "",
        "label": "gate control",
        "tooltip": "",
        "group": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 610,
        "y": 300,
        "wires": [
            [
                "35b067045ccea0ca"
            ]
        ]
    },
    {
        "id": "6354aeb9e5fc09ff",
        "type": "ui_switch",
        "z": "e8ecf3e0486b455b",
        "name": "",
        "label": "security",
        "tooltip": "",
        "group": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 600,
        "y": 420,
        "wires": [
            [
                "4529a8dbee854513"
            ]
        ]
    },
    {
        "id": "a681d95bc9acfca6",
        "type": "ui_switch",
        "z": "e8ecf3e0486b455b",
        "name": "",
        "label": "power cut",
        "tooltip": "",
        "group": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 600,
        "y": 460,
        "wires": [
            [
                "a091ce4cf6501bc4"
            ]
        ]
    },
    {
        "id": "067e6b2cb209ccfe",
        "type": "ui_switch",
        "z": "e8ecf3e0486b455b",
        "name": "",
        "label": "temperature control",
        "tooltip": "",
        "group": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 340,
        "wires": [
            [
                "b0bcaeb5b4be14c2"
            ]
        ]
    },
    {
        "id": "f79dce25fa3db254",
        "type": "ui_switch",
        "z": "e8ecf3e0486b455b",
        "name": "",
        "label": "presets",
        "tooltip": "",
        "group": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 600,
        "y": 380,
        "wires": [
            [
                "3cafe40f66dfe8be"
            ]
        ]
    },
    {
        "id": "c58e259ff2a76909",
        "type": "ui_switch",
        "z": "e8ecf3e0486b455b",
        "name": "",
        "label": "cooling",
        "tooltip": "",
        "group": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 600,
        "y": 580,
        "wires": [
            [
                "48ecbf0ef4ef30b8"
            ]
        ]
    },
    {
        "id": "de108582d0ec00bd",
        "type": "ui_switch",
        "z": "e8ecf3e0486b455b",
        "name": "",
        "label": "outdoor lighting",
        "tooltip": "",
        "group": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 620,
        "y": 500,
        "wires": [
            [
                "d847c61395c5df0a"
            ]
        ]
    },
    {
        "id": "460e7d60fc7619b1",
        "type": "ui_switch",
        "z": "e8ecf3e0486b455b",
        "name": "",
        "label": "watering",
        "tooltip": "",
        "group": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 600,
        "y": 540,
        "wires": [
            [
                "33bd5f330af43fde"
            ]
        ]
    },
    {
        "id": "cc2dd230ec8ef5e0",
        "type": "function",
        "z": "e8ecf3e0486b455b",
        "name": "switch state",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 260,
        "wires": [
            [
                "2ff88d9f298cdd1d"
            ]
        ]
    },
    {
        "id": "35b067045ccea0ca",
        "type": "function",
        "z": "e8ecf3e0486b455b",
        "name": "switch state",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 300,
        "wires": [
            [
                "6f107f7e1c601373"
            ]
        ]
    },
    {
        "id": "b0bcaeb5b4be14c2",
        "type": "function",
        "z": "e8ecf3e0486b455b",
        "name": "switch state",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 340,
        "wires": [
            [
                "874c366cd3fcb0a9"
            ]
        ]
    },
    {
        "id": "3cafe40f66dfe8be",
        "type": "function",
        "z": "e8ecf3e0486b455b",
        "name": "switch state",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 380,
        "wires": [
            [
                "de5110c69ee7685b"
            ]
        ]
    },
    {
        "id": "4529a8dbee854513",
        "type": "function",
        "z": "e8ecf3e0486b455b",
        "name": "switch state",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 420,
        "wires": [
            [
                "057a67e37002a3de"
            ]
        ]
    },
    {
        "id": "a091ce4cf6501bc4",
        "type": "function",
        "z": "e8ecf3e0486b455b",
        "name": "switch state",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 460,
        "wires": [
            [
                "401f500734822f75"
            ]
        ]
    },
    {
        "id": "d847c61395c5df0a",
        "type": "function",
        "z": "e8ecf3e0486b455b",
        "name": "switch state",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 500,
        "wires": [
            [
                "fe303f58ef5dd825"
            ]
        ]
    },
    {
        "id": "33bd5f330af43fde",
        "type": "function",
        "z": "e8ecf3e0486b455b",
        "name": "switch state",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 540,
        "wires": [
            [
                "f8e40233193ac93f"
            ]
        ]
    },
    {
        "id": "48ecbf0ef4ef30b8",
        "type": "function",
        "z": "e8ecf3e0486b455b",
        "name": "switch state",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 580,
        "wires": [
            [
                "b39a4744d8999462"
            ]
        ]
    },
    {
        "id": "2ff88d9f298cdd1d",
        "type": "http request",
        "z": "e8ecf3e0486b455b",
        "name": "send state",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1150,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "6f107f7e1c601373",
        "type": "http request",
        "z": "e8ecf3e0486b455b",
        "name": "send state",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1150,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "874c366cd3fcb0a9",
        "type": "http request",
        "z": "e8ecf3e0486b455b",
        "name": "send state",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1150,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "de5110c69ee7685b",
        "type": "http request",
        "z": "e8ecf3e0486b455b",
        "name": "send state",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1150,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "057a67e37002a3de",
        "type": "http request",
        "z": "e8ecf3e0486b455b",
        "name": "send state",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1150,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "401f500734822f75",
        "type": "http request",
        "z": "e8ecf3e0486b455b",
        "name": "send state",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1150,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "fe303f58ef5dd825",
        "type": "http request",
        "z": "e8ecf3e0486b455b",
        "name": "send state",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1150,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "f8e40233193ac93f",
        "type": "http request",
        "z": "e8ecf3e0486b455b",
        "name": "send state",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1150,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "b39a4744d8999462",
        "type": "http request",
        "z": "e8ecf3e0486b455b",
        "name": "send state",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1150,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "2b00a736d173b2e9",
        "type": "inject",
        "z": "e8ecf3e0486b455b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "30 06 * * *",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 540,
        "wires": [
            [
                "067e6b2cb209ccfe"
            ]
        ]
    },
    {
        "id": "496415a839e983b6",
        "type": "inject",
        "z": "e8ecf3e0486b455b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "30 07 * * *",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 580,
        "wires": [
            [
                "f8e98ca52048a391"
            ]
        ]
    },
    {
        "id": "bdc364f3e654ea91",
        "type": "inject",
        "z": "e8ecf3e0486b455b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "0 0-22 * * *",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 620,
        "wires": [
            [
                "460e7d60fc7619b1"
            ]
        ]
    },
    {
        "id": "52bc8a92be6a89a5",
        "type": "inject",
        "z": "e8ecf3e0486b455b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Morning",
        "payloadType": "str",
        "x": 120,
        "y": 260,
        "wires": [
            [
                "3e1a5093b2fb3924"
            ]
        ]
    },
    {
        "id": "3e1a5093b2fb3924",
        "type": "function",
        "z": "e8ecf3e0486b455b",
        "name": "function 2",
        "func": "var presets = global.get(\"presets\") || {};\n\nvar presetName = msg.payload;\n\nif(presets[presetName]) {\n    var preset = presets[presetName];\n    \n    return [\n        {topic: \"lamp\", payload: preset.lamp},\n        {topic: \"redony\", payload: preset.redony},\n        {topic: \"heating\", payload: preset.heating},\n        {topic: \"kinti_vilagitas\", payload: preset.kinti_vilagitas}\n    ];\n} \n\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 260,
        "wires": [
            [
                "e802bd243d63a3b0",
                "f8e98ca52048a391",
                "067e6b2cb209ccfe",
                "f79dce25fa3db254",
                "6354aeb9e5fc09ff",
                "a681d95bc9acfca6",
                "de108582d0ec00bd",
                "460e7d60fc7619b1",
                "c58e259ff2a76909"
            ]
        ]
    },
    {
        "id": "0dbfbdeb0611b332",
        "type": "inject",
        "z": "e8ecf3e0486b455b",
        "name": "Init Preset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "822ebda38bbcbbcd"
            ]
        ]
    },
    {
        "id": "822ebda38bbcbbcd",
        "type": "function",
        "z": "e8ecf3e0486b455b",
        "name": "Set Presets",
        "func": "global.set(\"presets\", {\n    \"morning\": {\n        lamp: \"ON\",\n        redony: \"UP\",\n        heating: 22,\n        kinti_vilagitas: \"OFF\"\n    },\n    \"evening\": {\n        lamp: \"OFF\",\n        redony: \"DOWN\",\n        heating: 20,\n        kinti_vilagitas: \"ON\"\n    }\n});\n\nnode.status({fill:\"green\",shape:\"dot\",text:\"Presets set\"});\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "7db986590ccac2b9",
        "type": "http in",
        "z": "e8ecf3e0486b455b",
        "name": "Web Button",
        "url": "/garage",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 740,
        "wires": [
            [
                "72699d0c7466f937"
            ]
        ]
    },
    {
        "id": "9b510e5867e2b8a1",
        "type": "http response",
        "z": "e8ecf3e0486b455b",
        "name": "To Web",
        "statusCode": "",
        "headers": {},
        "x": 640,
        "y": 740,
        "wires": []
    },
    {
        "id": "72699d0c7466f937",
        "type": "function",
        "z": "e8ecf3e0486b455b",
        "name": "Garange Door",
        "func": "// Várjuk: { state: \"on\" } vagy { state: \"off\" }\n\n// Ha rossz formátum jön\nif (!msg.payload || (msg.payload.state !== \"on\" && msg.payload.state !== \"off\")) {\n    msg.payload = {\n        ok: false,\n        error: \"invalid state\",\n        received: msg.payload\n    };\n    node.status({ fill: \"red\", shape: \"dot\", text: \"INVALID\" });\n    return msg;\n}\n\n// A frontend által küldött állapot\nconst state = msg.payload.state;\n\n// Kiírjuk a Node-RED node alá\nnode.status({\n    fill: state === \"on\" ? \"green\" : \"red\",\n    shape: \"dot\",\n    text: state.toUpperCase()\n});\n\n// Visszaküldjük a weboldalnak\nmsg.payload = {\n    ok: true,\n    state: state\n};\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 740,
        "wires": [
            [
                "9b510e5867e2b8a1"
            ]
        ]
    },
    {
        "id": "0150ce386d1f452b",
        "type": "http in",
        "z": "e8ecf3e0486b455b",
        "name": "Web Button",
        "url": "/Settings",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 800,
        "wires": [
            [
                "153cd54e7f2de8ed"
            ]
        ]
    },
    {
        "id": "597ec451616a300e",
        "type": "http response",
        "z": "e8ecf3e0486b455b",
        "name": "To Web",
        "statusCode": "",
        "headers": {},
        "x": 640,
        "y": 800,
        "wires": []
    },
    {
        "id": "153cd54e7f2de8ed",
        "type": "function",
        "z": "e8ecf3e0486b455b",
        "name": "Settings",
        "func": "// Várjuk: { state: \"on\" } vagy { state: \"off\" }\n\n// Hibakezelés: ha rossz a payload\nif (!msg.payload || (msg.payload.state !== \"on\" && msg.payload.state !== \"off\")) {\n    node.status({ fill: \"red\", shape: \"dot\", text: \"INVALID\" });\n    msg.payload = {\n        ok: false,\n        error: \"invalid state\",\n        received: msg.payload\n    };\n    return msg;\n}\n\n// Beérkező állapot\nconst state = msg.payload.state;\n\n// Node státusz kiírás\nnode.status({\n    fill: state === \"on\" ? \"green\" : \"red\",\n    shape: \"dot\",\n    text: state.toUpperCase()\n});\n\n// Válasz vissza a weboldalnak\nmsg.payload = {\n    ok: true,\n    state: state\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 800,
        "wires": [
            [
                "597ec451616a300e"
            ]
        ]
    },
    {
        "id": "2c02512217eea2ee",
        "type": "http in",
        "z": "e8ecf3e0486b455b",
        "name": "Web Button",
        "url": "/Entrence",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 860,
        "wires": [
            [
                "42a6605cfa88b465"
            ]
        ]
    },
    {
        "id": "5c2f5d1f6d407aa2",
        "type": "http response",
        "z": "e8ecf3e0486b455b",
        "name": "To Web",
        "statusCode": "",
        "headers": {},
        "x": 640,
        "y": 860,
        "wires": []
    },
    {
        "id": "42a6605cfa88b465",
        "type": "function",
        "z": "e8ecf3e0486b455b",
        "name": "Entrence",
        "func": "if (!msg.payload || (msg.payload.state !== \"on\" && msg.payload.state !== \"off\")) {\n    node.status({ fill: \"red\", shape: \"dot\", text: \"INVALID\" });\n    msg.payload = {\n        ok: false,\n        error: \"invalid state\",\n        received: msg.payload\n    };\n    return msg;\n}\n\nconst state = msg.payload.state;\n\nnode.status({\n    fill: state === \"on\" ? \"green\" : \"red\",\n    shape: \"dot\",\n    text: state.toUpperCase()\n});\n\nmsg.payload = { ok: true, state };\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 860,
        "wires": [
            [
                "5c2f5d1f6d407aa2"
            ]
        ]
    },
    {
        "id": "30b9a0ac80533eca",
        "type": "http in",
        "z": "e8ecf3e0486b455b",
        "name": "Web Button",
        "url": "/Watering",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 920,
        "wires": [
            [
                "f6c0640b67da93eb"
            ]
        ]
    },
    {
        "id": "f5ef22c85fad9733",
        "type": "http response",
        "z": "e8ecf3e0486b455b",
        "name": "To Web",
        "statusCode": "",
        "headers": {},
        "x": 640,
        "y": 920,
        "wires": []
    },
    {
        "id": "f6c0640b67da93eb",
        "type": "function",
        "z": "e8ecf3e0486b455b",
        "name": "Watering",
        "func": "// Várjuk: { action: \"pressed\" }\n\n\n// Ellenőrzés\nif (!msg.payload || msg.payload.action !== \"pressed\") {\n    msg.payload = {\n        ok: false,\n        error: \"unknown action\",\n        received: msg.payload\n    };\n    node.status({ fill: \"red\", shape: \"dot\", text: \"Invalid\" });\n    return msg;\n}\n\n// Jelenlegi állapot kiolvasása (alapból: \"off\")\nlet state = flow.get(\"wateringState\") || \"off\";\n\n// Átváltás\nstate = state === \"off\" ? \"on\" : \"off\";\n\n// Elmentjük az új állapotot\nflow.set(\"wateringState\", state);\n\n// Státusz kiírás\nnode.status({\n    fill: state === \"on\" ? \"green\" : \"red\",\n    shape: \"dot\",\n    text: state.toUpperCase()\n});\n\n// Válasz a webnek\nmsg.payload = {\n    ok: true,\n    state\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 920,
        "wires": [
            [
                "f5ef22c85fad9733"
            ]
        ]
    },
    {
        "id": "b34b77d03fb2bce8",
        "type": "http in",
        "z": "e8ecf3e0486b455b",
        "name": "Web Button",
        "url": "/Roller_Shutter",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 980,
        "wires": [
            [
                "ef8ced4e57514a98"
            ]
        ]
    },
    {
        "id": "5e595c35c569138b",
        "type": "http response",
        "z": "e8ecf3e0486b455b",
        "name": "To Web",
        "statusCode": "",
        "headers": {},
        "x": 640,
        "y": 980,
        "wires": []
    },
    {
        "id": "ef8ced4e57514a98",
        "type": "function",
        "z": "e8ecf3e0486b455b",
        "name": "Roller_Shutter",
        "func": "// Várjuk: { state: \"on\" } vagy { state: \"off\" }\n\nif (!msg.payload || (msg.payload.state !== \"on\" && msg.payload.state !== \"off\")) {\n    node.status({ fill: \"red\", shape: \"dot\", text: \"INVALID\" });\n    msg.payload = {\n        ok: false,\n        error: \"invalid state\",\n        received: msg.payload\n    };\n    return msg;\n}\n\nconst state = msg.payload.state;\n\nnode.status({\n    fill: state === \"on\" ? \"green\" : \"red\",\n    shape: \"dot\",\n    text: state.toUpperCase()\n});\n\nmsg.payload = { ok: true, state };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 980,
        "wires": [
            [
                "5e595c35c569138b"
            ]
        ]
    },
    {
        "id": "dc9a45fb2b9e0a9e",
        "type": "http in",
        "z": "e8ecf3e0486b455b",
        "name": "Web Button",
        "url": "/Gate",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 1040,
        "wires": [
            [
                "c347fb01e035c48c"
            ]
        ]
    },
    {
        "id": "4c67a6fef429542a",
        "type": "http response",
        "z": "e8ecf3e0486b455b",
        "name": "To Web",
        "statusCode": "",
        "headers": {},
        "x": 640,
        "y": 1040,
        "wires": []
    },
    {
        "id": "c347fb01e035c48c",
        "type": "function",
        "z": "e8ecf3e0486b455b",
        "name": "Gate",
        "func": "// Várjuk: { state: \"on\" } vagy { state: \"off\" }\n\nif (!msg.payload || (msg.payload.state !== \"on\" && msg.payload.state !== \"off\")) {\n    node.status({ fill: \"red\", shape: \"dot\", text: \"INVALID\" });\n    msg.payload = {\n        ok: false,\n        error: \"invalid state\",\n        received: msg.payload\n    };\n    return msg;\n}\n\nconst state = msg.payload.state;\n\n// Státusz a node alatt\nnode.status({\n    fill: state === \"on\" ? \"green\" : \"red\",\n    shape: \"dot\",\n    text: state.toUpperCase()\n});\n\n// Itt mehet a tényleges vezérlés (MQTT, relé, bármi)\n\nmsg.payload = { ok: true, state };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1040,
        "wires": [
            [
                "4c67a6fef429542a"
            ]
        ]
    },
    {
        "id": "942466c276ffd43c",
        "type": "http in",
        "z": "e8ecf3e0486b455b",
        "name": "Web Button",
        "url": "/Security",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 1100,
        "wires": [
            [
                "12fbd43c28c30c9d"
            ]
        ]
    },
    {
        "id": "488428a745361836",
        "type": "http response",
        "z": "e8ecf3e0486b455b",
        "name": "To Web",
        "statusCode": "",
        "headers": {},
        "x": 640,
        "y": 1100,
        "wires": []
    },
    {
        "id": "12fbd43c28c30c9d",
        "type": "function",
        "z": "e8ecf3e0486b455b",
        "name": "Security",
        "func": "// ON / OFF állapot ellenőrzése\nif (!msg.payload || (msg.payload.state !== \"on\" && msg.payload.state !== \"off\")) {\n    node.status({ fill: \"red\", shape: \"dot\", text: \"INVALID\" });\n    msg.payload = {\n        ok: false,\n        error: \"invalid state\",\n        received: msg.payload\n    };\n    return msg;\n}\n\nconst state = msg.payload.state;\n\n// Státusz kiírás a node alá\nnode.status({\n    fill: state === \"on\" ? \"green\" : \"red\",\n    shape: \"dot\",\n    text: state.toUpperCase()\n});\n\n// Ha itt akarsz riasztót, PIR szenzort, MQTT-t vezérelni, ide mehet a logika\n\nmsg.payload = { ok: true, state };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1100,
        "wires": [
            [
                "488428a745361836"
            ]
        ]
    },
    {
        "id": "6c4a5967d185e1d9",
        "type": "http in",
        "z": "e8ecf3e0486b455b",
        "name": "Web Button",
        "url": "/External_Lighting",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 1160,
        "wires": [
            [
                "597a692852161cdd"
            ]
        ]
    },
    {
        "id": "01cdf0f4b6fa9175",
        "type": "http response",
        "z": "e8ecf3e0486b455b",
        "name": "To Web",
        "statusCode": "",
        "headers": {},
        "x": 640,
        "y": 1160,
        "wires": []
    },
    {
        "id": "597a692852161cdd",
        "type": "function",
        "z": "e8ecf3e0486b455b",
        "name": "External Lighting",
        "func": "// Várjuk: { state: \"on\" } vagy { state: \"off\" }\n\nif (!msg.payload || (msg.payload.state !== \"on\" && msg.payload.state !== \"off\")) {\n    node.status({ fill: \"red\", shape: \"dot\", text: \"INVALID\" });\n    msg.payload = {\n        ok: false,\n        error: \"invalid state\",\n        received: msg.payload\n    };\n    return msg;\n}\n\nconst state = msg.payload.state;\n\nnode.status({\n    fill: state === \"on\" ? \"green\" : \"red\",\n    shape: \"dot\",\n    text: state.toUpperCase()\n});\n\n// Ide mehet a kültéri világítás vezérlése (relé, mqtt stb.)\n\nmsg.payload = { ok: true, state };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1160,
        "wires": [
            [
                "01cdf0f4b6fa9175"
            ]
        ]
    },
    {
        "id": "f226c797ea2d729c",
        "type": "http in",
        "z": "e8ecf3e0486b455b",
        "name": "Web Button",
        "url": "/Garage_Lighting",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 1220,
        "wires": [
            [
                "3ec424f7568010bc"
            ]
        ]
    },
    {
        "id": "e2c666c5f4d9a259",
        "type": "http response",
        "z": "e8ecf3e0486b455b",
        "name": "To Web",
        "statusCode": "",
        "headers": {},
        "x": 640,
        "y": 1220,
        "wires": []
    },
    {
        "id": "3ec424f7568010bc",
        "type": "function",
        "z": "e8ecf3e0486b455b",
        "name": "Garage Lighting",
        "func": "if (!msg.payload || (msg.payload.state !== \"on\" && msg.payload.state !== \"off\")) {\n    node.status({ fill: \"red\", shape: \"dot\", text: \"INVALID\" });\n    msg.payload = {\n        ok: false,\n        error: \"invalid state\",\n        received: msg.payload\n    };\n    return msg;\n}\n\nconst state = msg.payload.state;\n\nnode.status({\n    fill: state === \"on\" ? \"green\" : \"red\",\n    shape: \"dot\",\n    text: state.toUpperCase()\n});\n\n// ide jöhet a tényleges vezérlés (relé, MQTT, stb.)\n\nmsg.payload = { ok: true, state };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1220,
        "wires": [
            [
                "e2c666c5f4d9a259"
            ]
        ]
    },
    {
        "id": "1533c7218380940b",
        "type": "http in",
        "z": "e8ecf3e0486b455b",
        "name": "Web Button",
        "url": "/Living_Lighting",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 1280,
        "wires": [
            [
                "d1a4f70c9affb252"
            ]
        ]
    },
    {
        "id": "e12804841afe1e98",
        "type": "http response",
        "z": "e8ecf3e0486b455b",
        "name": "To Web",
        "statusCode": "",
        "headers": {},
        "x": 640,
        "y": 1280,
        "wires": []
    },
    {
        "id": "d1a4f70c9affb252",
        "type": "function",
        "z": "e8ecf3e0486b455b",
        "name": "Living Lighting",
        "func": "if (!msg.payload || (msg.payload.state !== \"on\" && msg.payload.state !== \"off\")) {\n    node.status({ fill: \"red\", shape: \"dot\", text: \"INVALID\" });\n    msg.payload = {\n        ok: false,\n        error: \"invalid state\",\n        received: msg.payload\n    };\n    return msg;\n}\n\nconst state = msg.payload.state;\n\nnode.status({\n    fill: state === \"on\" ? \"green\" : \"red\",\n    shape: \"dot\",\n    text: state.toUpperCase()\n});\n\n// ide jöhet a tényleges vezérlés (relé, MQTT, stb.)\n\nmsg.payload = { ok: true, state };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1280,
        "wires": [
            [
                "e12804841afe1e98"
            ]
        ]
    },
    {
        "id": "effe63465bb7324c",
        "type": "http in",
        "z": "e8ecf3e0486b455b",
        "name": "Web Button",
        "url": "/Bedroom03_Lighting",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 1340,
        "wires": [
            [
                "633543ad1af1fdc9"
            ]
        ]
    },
    {
        "id": "3c878af72398fd89",
        "type": "http response",
        "z": "e8ecf3e0486b455b",
        "name": "To Web",
        "statusCode": "",
        "headers": {},
        "x": 640,
        "y": 1340,
        "wires": []
    },
    {
        "id": "633543ad1af1fdc9",
        "type": "function",
        "z": "e8ecf3e0486b455b",
        "name": "Bedroom03 Lighting",
        "func": "if (!msg.payload || (msg.payload.state !== \"on\" && msg.payload.state !== \"off\")) {\n    node.status({ fill: \"red\", shape: \"dot\", text: \"INVALID\" });\n    msg.payload = {\n        ok: false,\n        error: \"invalid state\",\n        received: msg.payload\n    };\n    return msg;\n}\n\nconst state = msg.payload.state;\n\nnode.status({\n    fill: state === \"on\" ? \"green\" : \"red\",\n    shape: \"dot\",\n    text: state.toUpperCase()\n});\n\n// ide jöhet a tényleges vezérlés (relé, MQTT, stb.)\n\nmsg.payload = { ok: true, state };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1340,
        "wires": [
            [
                "3c878af72398fd89"
            ]
        ]
    },
    {
        "id": "f35fec349ad5c03b",
        "type": "http in",
        "z": "e8ecf3e0486b455b",
        "name": "Web Button",
        "url": "/Bedroom04_Lighting",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 1400,
        "wires": [
            [
                "c7baf60c1b20c09a"
            ]
        ]
    },
    {
        "id": "858ce904bfe24b27",
        "type": "http response",
        "z": "e8ecf3e0486b455b",
        "name": "To Web",
        "statusCode": "",
        "headers": {},
        "x": 640,
        "y": 1400,
        "wires": []
    },
    {
        "id": "c7baf60c1b20c09a",
        "type": "function",
        "z": "e8ecf3e0486b455b",
        "name": "Bedroom04 Lighting",
        "func": "if (!msg.payload || (msg.payload.state !== \"on\" && msg.payload.state !== \"off\")) {\n    node.status({ fill: \"red\", shape: \"dot\", text: \"INVALID\" });\n    msg.payload = {\n        ok: false,\n        error: \"invalid state\",\n        received: msg.payload\n    };\n    return msg;\n}\n\nconst state = msg.payload.state;\n\nnode.status({\n    fill: state === \"on\" ? \"green\" : \"red\",\n    shape: \"dot\",\n    text: state.toUpperCase()\n});\n\n// ide jöhet a tényleges vezérlés (relé, MQTT, stb.)\n\nmsg.payload = { ok: true, state };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1400,
        "wires": [
            [
                "858ce904bfe24b27"
            ]
        ]
    },
    {
        "id": "ccb0e1c387118870",
        "type": "http in",
        "z": "e8ecf3e0486b455b",
        "name": "Web Button",
        "url": "/Kitchen_Lighting",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 1460,
        "wires": [
            [
                "eab5bd2938356531"
            ]
        ]
    },
    {
        "id": "ac94b79c614bb98c",
        "type": "http response",
        "z": "e8ecf3e0486b455b",
        "name": "To Web",
        "statusCode": "",
        "headers": {},
        "x": 640,
        "y": 1460,
        "wires": []
    },
    {
        "id": "eab5bd2938356531",
        "type": "function",
        "z": "e8ecf3e0486b455b",
        "name": "Kitchen Lighting",
        "func": "if (!msg.payload || (msg.payload.state !== \"on\" && msg.payload.state !== \"off\")) {\n    node.status({ fill: \"red\", shape: \"dot\", text: \"INVALID\" });\n    msg.payload = {\n        ok: false,\n        error: \"invalid state\",\n        received: msg.payload\n    };\n    return msg;\n}\n\nconst state = msg.payload.state;\n\nnode.status({\n    fill: state === \"on\" ? \"green\" : \"red\",\n    shape: \"dot\",\n    text: state.toUpperCase()\n});\n\n// ide jöhet a tényleges vezérlés (relé, MQTT, stb.)\n\nmsg.payload = { ok: true, state };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1460,
        "wires": [
            [
                "ac94b79c614bb98c"
            ]
        ]
    },
    {
        "id": "6875305237fca711",
        "type": "http in",
        "z": "e8ecf3e0486b455b",
        "name": "Web Button",
        "url": "/Bathroom_Lighting",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 1520,
        "wires": [
            [
                "745765fa98360dea"
            ]
        ]
    },
    {
        "id": "1a525dd995f8bb0f",
        "type": "http response",
        "z": "e8ecf3e0486b455b",
        "name": "To Web",
        "statusCode": "",
        "headers": {},
        "x": 640,
        "y": 1520,
        "wires": []
    },
    {
        "id": "745765fa98360dea",
        "type": "function",
        "z": "e8ecf3e0486b455b",
        "name": "Bathroom Lighting",
        "func": "if (!msg.payload || (msg.payload.state !== \"on\" && msg.payload.state !== \"off\")) {\n    node.status({ fill: \"red\", shape: \"dot\", text: \"INVALID\" });\n    msg.payload = {\n        ok: false,\n        error: \"invalid state\",\n        received: msg.payload\n    };\n    return msg;\n}\n\nconst state = msg.payload.state;\n\nnode.status({\n    fill: state === \"on\" ? \"green\" : \"red\",\n    shape: \"dot\",\n    text: state.toUpperCase()\n});\n\n// ide jöhet a tényleges vezérlés (relé, MQTT, stb.)\n\nmsg.payload = { ok: true, state };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1520,
        "wires": [
            [
                "1a525dd995f8bb0f"
            ]
        ]
    },
    {
        "id": "b4a9f8724a236e2f",
        "type": "http in",
        "z": "e8ecf3e0486b455b",
        "name": "Web Button",
        "url": "/Toalett_Lighting",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 1580,
        "wires": [
            [
                "ec6f427f16d90ccd"
            ]
        ]
    },
    {
        "id": "43f435c139b6727b",
        "type": "http response",
        "z": "e8ecf3e0486b455b",
        "name": "To Web",
        "statusCode": "",
        "headers": {},
        "x": 640,
        "y": 1580,
        "wires": []
    },
    {
        "id": "ec6f427f16d90ccd",
        "type": "function",
        "z": "e8ecf3e0486b455b",
        "name": "Toalett Lighting",
        "func": "if (!msg.payload || (msg.payload.state !== \"on\" && msg.payload.state !== \"off\")) {\n    node.status({ fill: \"red\", shape: \"dot\", text: \"INVALID\" });\n    msg.payload = {\n        ok: false,\n        error: \"invalid state\",\n        received: msg.payload\n    };\n    return msg;\n}\n\nconst state = msg.payload.state;\n\nnode.status({\n    fill: state === \"on\" ? \"green\" : \"red\",\n    shape: \"dot\",\n    text: state.toUpperCase()\n});\n\n// ide jöhet a tényleges vezérlés (relé, MQTT, stb.)\n\nmsg.payload = { ok: true, state };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1580,
        "wires": [
            [
                "43f435c139b6727b"
            ]
        ]
    },
    {
        "id": "35d7c8a60a472666",
        "type": "http in",
        "z": "e8ecf3e0486b455b",
        "name": "Web Button",
        "url": "/Heating",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 1640,
        "wires": [
            [
                "5e168c78589ba38a"
            ]
        ]
    },
    {
        "id": "1c0338335bd7ea3c",
        "type": "http response",
        "z": "e8ecf3e0486b455b",
        "name": "To Web",
        "statusCode": "",
        "headers": {},
        "x": 640,
        "y": 1640,
        "wires": []
    },
    {
        "id": "5e168c78589ba38a",
        "type": "function",
        "z": "e8ecf3e0486b455b",
        "name": "Heating",
        "func": "if (!msg.payload || (msg.payload.state !== \"on\" && msg.payload.state !== \"off\")) {\n    node.status({ fill: \"red\", shape: \"dot\", text: \"INVALID\" });\n    msg.payload = {\n        ok: false,\n        error: \"invalid state\",\n        received: msg.payload\n    };\n    return msg;\n}\n\nconst state = msg.payload.state;\n\nnode.status({\n    fill: state === \"on\" ? \"green\" : \"red\",\n    shape: \"dot\",\n    text: state.toUpperCase()\n});\n\n// ide jöhet a tényleges vezérlés (relé, MQTT, stb.)\n\nmsg.payload = { ok: true, state };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1640,
        "wires": [
            [
                "1c0338335bd7ea3c"
            ]
        ]
    },
    {
        "id": "4502cb5ae4d1ed76",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]